      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 48%;
        padding: 15px;
        background-color: whitesmoke;
        border: solid;
        border-width: 1px;
        border-color:thistle;
        margin: 1%;
      }

      .oneColumn {
        float: left;
        width: 98%;
        padding: 15px;
        background-color: whitesmoke;
        border: solid;
        border-width: 1px;
        border-color:thistle;
        margin: 1%;
      }
      
      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width:600px) {
        .column {
          width: 100%;
        }
      }