.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: thistle;
    text-align: center;
    padding: 14px 16px 16px 16px;
    opacity: 60%;
  }